In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

### Necessary functions

In [16]:
def clean_numeric(value):
    if pd.isna(value):
        return np.nan
    
    if isinstance(value, (int, float)):
        return value
    
    value = str(value).strip()
    
    if value.lower() in ['nan', 'null', '?', '', 'none', 'na', 'n/a', 'zero', 'empty', 'missing', '-', 'blank', '_', 'nothing']:
        return np.nan
    
    try:
        numeric_match = re.search(r'[-+]?\d*\.?\d+', value)
        if numeric_match:
            return float(numeric_match.group())
        else:
            return np.nan
    except:
        return np.nan


def handle_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = ((df[column] < lower_bound) | (df[column] > upper_bound)).sum()
    
    if outliers > 0:
        df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
        df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])
    
    return df

In [17]:
df = pd.read_csv('performance.csv')

In [18]:
df.info()
df.head()
df.describe()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2397 entries, 0 to 2396
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2397 non-null   int64
 1   Age                2397 non-null   int64
 2   Gender             2397 non-null   int64
 3   Ethnicity          2391 non-null   float64
 4   ParentalEducation  2397 non-null   int64
 5   StudyTimeWeekly    2392 non-null   object
 6   Absences           2397 non-null   int64
 7   Tutoring           2397 non-null   int64
 8   ParentalSupport    2396 non-null   float64
 9   Extracurricular    2387 non-null   object
 10  Sports             2397 non-null   int64
 11  Music              2397 non-null   int64
 12  Volunteering       2397 non-null   int64
 13  GPA                2397 non-null   object
 14  GradeClass         2397 non-null   int64
dtypes: float64(2), int64(10), object(3)
memory usage: 281.0+ KB

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0.0,2,19.8337228078547,7,1,2.0,0,0,1,0,2.92919559166768,2
1,1002,18,0,0.0,1,15.4087560558467,0,0,1.0,0,0,0,0,3.04291483343638,1
2,1003,15,0,2.0,3,4.21056976881226,26,0,2.0,0,0,0,0,0.112602254466182,4
3,1004,17,1,0.0,3,10.0288294739582,14,0,3.0,1,0,0,0,2.05421813970295,3
4,1005,17,1,0.0,2,"""4.67249527297133""",17,1,3.0,0,0,0,0,1.28806118179539,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,3388,18,1,0.0,3,10.6805546076944,2,0,4.0,1,0,0,0,3.45550941103439,0
2393,3389,17,0,0.0,1,7.58321727959887,4,1,4.0,0,1,0,0,3.27914972702503,4
2394,3390,16,1,0.0,2,6.80549964468062,20,0,2.0,0,0,0,1,1.14233287952616,2
2395,3391,16,1,1.0,0,12.4166526554839,17,0,2.0,0,1,1,0,1.80329676262921,1
2396,3392,16,1,0.0,2,17.8199074928853,13,0,2.0,0,0,0,1,2.1400138778044,1

## Data Cleaning

In [19]:
cols_to_drop = ['StudentID']

all_cols = ['Age', 'StudyTimeWeekly', 'Absences', 'ParentalEducation', 'GPA', 'Tutoring', 'ParentalSupport', 'Extracurricular', "Sports", 'Gender', 'Ethnicity', 'Music', 'Volunteering', 'GradeClass']

### Dropping unnecessary columns

In [20]:

df = df.drop(columns=cols_to_drop)

### Removing Duplicate rows

In [21]:
duplicates = df.duplicated().sum()
if duplicates > 0:
    df = df.drop_duplicates()

### Making numeric columns truly numeric

In [22]:
for col in all_cols:
    df[col] = df[col].apply(clean_numeric)

### Handling missing values

 - We will fill missing values in numeric columns with the mean of each column.

In [ ]:
missing_values = df.isnull().sum()

numeric_imputer = SimpleImputer(strategy='mean')
df[all_cols] = numeric_imputer.fit_transform(df[all_cols])

### Removing outliers, using IQR method

In [24]:
for col in ['Age', 'StudyTimeWeekly', 'Absences', 'GPA']:
    df = handle_outliers(df, col)

### Handling unrealistic combinations
1. Students with very low study time but very high GPA.
2. Students with very high study time but very low GPA.

In [25]:
unrealistic = ((df['StudyTimeWeekly'] < 1) & (df['GPA'] > 3.5)).sum()
if unrealistic > 0:
    mask = (df['StudyTimeWeekly'] < 1) & (df['GPA'] > 3.5)
    df.loc[mask, 'StudyTimeWeekly'] = df['StudyTimeWeekly'].median()

unrealistic = ((df['StudyTimeWeekly'] > 15) & (df['GPA'] < 2.0)).sum()
if unrealistic > 0:
    mask = (df['StudyTimeWeekly'] > 15) & (df['GPA'] < 2.0)
    df.loc[mask, 'StudyTimeWeekly'] = df['StudyTimeWeekly'].median()

### Handling negetive values

In [26]:
for col in  all_cols:
    neg_values = (df[col] < 0).sum()
    if neg_values > 0:
        df[col] = df[col].abs()

### Type conversion

In [27]:
for col in all_cols:
    df[col] = df[col].astype(float)

## Regression

In [28]:
X = df.drop(columns=['GPA'])
Y = df['GPA']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9359464737978966